<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H.D.P.</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1 class="title_page">Los Mitoteros</h1>
        <ul class="navegation">
            <li><a href="sobre_la_page.html" class="title">Sobre la page</a></li>
            <li><a href="https://www.instagram.com" target="_blank" class="title">Contacto</a></li>
        </ul>
    </header>
    <main>

        <article class="post">
            <h2 class="title">Matan a balazos a hombre en...</h2>
            <p class="date">Publicado el 28 de marzo de 2025</p>
            <p class="excerpt">blablablablablabla</p>
            <img src="static/img/gun.jpg" alt="Imagen de la noticia">
        </article>

        <article class="post">
            <h2 class="title">Olimpiada de atletismo</h2>
            <p class="date">Publicado el 27 de marzo de 2025</p>
            <p class="excerpt">Un gran cambio</p>
            <img src="static/img/medd.webp" alt="">
        </article>

        <article class="postt large-post">
            <h2 class="title">Una nueva etapa: desarrollan un nuevo lenguaje revolucionario...</h2>
            <p class="date">Publicado el 31 de marzo de 2025</p>
            <p class="excerpt">Será el fin o el principio de una era...</p>
            <img src="static/img/bot.jpg" alt="">
        </article>
    </main>

</body>
</html>
