<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Mitoteros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <a href="{{ url_for('index') }}" class="btn">Volver al inicio🏠</a>

    <h1 class="page">Sobre la página - Los Mitoteros</h1>
    <p class="desc"> En Los Mitoteros, nuestra misión es informar, conectar y provocar reflexión.
        Somos una empresa dedicada a ofrecer noticias frescas, relevantes y verificadas para nuestra audiencia.
        Con un enfoque único, combinamos el rigor periodístico con una perspectiva cercana y auténtica,
        buscando siempre contar las historias detrás de los titulares.
        Creemos que cada noticia tiene el poder de cambiar realidades, de unir comunidades y de inspirar acción.
        En nuestro equipo, trabajamos día y noche para asegurarnos de que nuestros lectores
        obtengan información de calidad que les permita estar al día y tomar decisiones informadas.
        Únete a nosotros en este viaje de descubrimiento, donde las noticias son más que simples palabras;
        son ventanas al mundo. ¡Bienvenido a Los Mitoteros! 📢📰
        </p>
</body>
</html>