<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matan a balazos a hombre en...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <a href="{{ url_for('index') }}" class="btn">Volver al inicio🏠</a>
    <H1 class="ded">Tragico suceso ocurrido esta mañana..</H1>
    
    <H2>Don antonio, señor de 33 años</H2>
    <P class="cuer">
    Lorem ipsum, 
    dolor sit amet consectetur adipisicing elit. U
    llam incidunt molestias hic explicabo,
    blanditiis necessitatibus sunt, v
    oluptates magnam aperiam exercitationem est
    qui sint. Suscipit explicabo, 
    modi aspernatur earum nobis iste.
    </P>
    <img src="{{ url_for('static', filename='img/ded.jpg') }}" alt="">
</body>
</html>